body{
    background-image: url(./UI_materials/assets/bg.jpg)
    padding 0 3em;
    color:white;
    font: 
    }
    
    .purple{
    color
    }
    
    
    .button{
    fontweigh bold
    border 2px white solid
    paddgin
    margin
    text align center
    shadow?
    }
    
    .button:hover{
    background-color: ;
    color y
    shadow z
    }
    
    .bold{
    font-weight:bold
    }
    
    .azzure{
    color: #00fff0;
    }
    
    .violetto{
    color: #d20094;
    }
    
    .logo{
        
    }
    
    .btn{
    border 2px solid white
    borderradius
    padding 
    margin
    text align center
    background color (trasparente)
    }
    
    .btn:hover{
    border 2px solid purple
    bcg purple
    }
    
    